<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearDiagrama</servlet-name>
        <servlet-class>API.CrearDiagrama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarDiagramas</servlet-name>
        <servlet-class>API.MostrarDiagramas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDiagrama</servlet-name>
        <servlet-class>API.EliminarDiagrama</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearDiagrama</servlet-name>
        <url-pattern>/CrearDiagrama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarDiagramas</servlet-name>
        <url-pattern>/MostrarDiagramas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDiagrama</servlet-name>
        <url-pattern>/EliminarDiagrama</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>SubirArchivo</servlet-name>
    <servlet-class>API.SubirArchivo</servlet-class>
    <multipart-config>
        <max-file-size>209715200</max-file-size>      <!-- 200 MB -->
        <max-request-size>209715200</max-request-size> <!-- 200 MB -->
        <file-size-threshold>1048576</file-size-threshold> <!-- 1 MB -->
    </multipart-config>
</servlet>
<servlet-mapping>
    <servlet-name>SubirArchivo</servlet-name>
    <url-pattern>/SubirArchivo</url-pattern>
</servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
